#creator {
    width: 1200px;
    margin: auto;
    margin-top: 12px;
    padding: 50px;
    text-align: center;
}

#creator > p > a {
    color: var(--cor-azul);
    font-weight: bold;
}

@media screen and (max-width: 1024px){
    #creator {
        width: 800px;
        margin: auto;
    }
}

@media screen and (max-width: 768px){
    #creator {
        width: 600px;
        margin: auto;
    }
}
@media screen and (max-width: 640px){
    #creator {
        width: 300px;
        margin: auto;
    }
}