.main {
    display: grid;
    gap: 0.5em;
    padding: 10px 0;
    min-height: 100vh;
}

.bg-main {
    width: 800px;
    margin: auto;
    text-align: center;
}

.main .main-parag {
    font-size:1em;
    font-weight: bold;
    text-align: center;
    margin: 8px 0;
}
@media screen and (max-width: 640px){
    .bg-main {
        width: 400px;
        margin: auto;
        text-align: center;
    }
    
}

