@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600&display=swap');
@import url("header.css");
@import url("main.css");
@import url("section-characters.css");
@import url("section-api.css");
@import url("footer.css");
@import url("search-main.css");


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1em;  
}

:root {
    --cor-branco: #fff;
    --cor-verde1: #00ffaa;
    --cor-verde2: #aaff00;
    --cor-laranja:#ffaa00;
    --cor-azul: #00aaff;
    --cor-rosa: #ff00aa;
    --cor-violeta: #aa00ff;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-principal:'Manrope', sans-serif;
    --fonte-destaque: 'Kanit', sans-serif;
}

html, body {
    min-height: 100vh;
    background-color: black;
    font-family: var(--fonte-principal);
    color: var(--cor-branco); 
}